{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">We <span><3 </span> food!</h1>
        <p class="hero-paragraph">
           We bring people together to discover, discuss, and celebrate food.
        </p>
        <div class="hero-options">
            <a href="{% url 'stackbase:question-lists' %}" class="btn btn-developers" style="margin-left: 5px;">Latest Questions</a>

        </div>
    </div>
</section>



{% endblock content %}
